<div id="<%= dom_id menu %>">
  <p>
    <strong>Restaurant:</strong>
    <%= menu.restaurant_id %>
  </p>

  <p>
    <strong>Dish name:</strong>
    <%= menu.dish_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= menu.category %>
  </p>

</div>
