<div id="<%= dom_id reservation %>">
  <p>
    <strong>Restaurant:</strong>
    <%= reservation.restaurant_id %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= reservation.reservation_date %>
  </p>

  <p>
    <strong>Party size:</strong>
    <%= reservation.party_size %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= reservation.user_name %>
  </p>

</div>
