<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= restaurant.location %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= restaurant.cuisine %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= restaurant.rating %>
  </p>

</div>
