<div id="<%= dom_id promotion %>">
  <p>
    <strong>Restaurant:</strong>
    <%= promotion.restaurant_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= promotion.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= promotion.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= promotion.end_date %>
  </p>

  <p>
    <strong>Discount percentage:</strong>
    <%= promotion.discount_percentage %>
  </p>

</div>
