<div id="<%= dom_id review %>">
  <p>
    <strong>Restaurant:</strong>
    <%= review.restaurant_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= review.user_name %>
  </p>

</div>
