<div id="<%= dom_id reservation_guest %>">
  <p>
    <strong>Reservation:</strong>
    <%= reservation_guest.reservation_id %>
  </p>

  <p>
    <strong>Guest name:</strong>
    <%= reservation_guest.guest_name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= reservation_guest.contact_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation_guest.email %>
  </p>

</div>
